.header {background-color:#fff;}
.content { background-color: #ecebe8;}
.footer { background-color:#fff;}
.nav-header { border-bottom: 1px solid #c1bfba;}
.bars { background-color:#cd0e3f; box-shadow: 0 5px 0#cd0e3f, 0 10px 0#cd0e3f;}
.flipkart-navbar-logo a { color:#003676;}
.flipkart-navbar-input, .tablet-navbar-input {border: 1px solid #c1bfba; color:#cc181e; background-color: #ecebe8;}
.flipkart-navbar-button, .tablet-navbar-button { color:#eb1b21;}
.links { color:#cd0e3f; }
.links: hover {color:#cd0e3f;}
.block { background-color:#fff; border-bottom: 1px solid #c1bfba;}
.search-button { color:#cd0e3f; }
.category-item li.active a { color:  #eb1b21;}
.sidebar { border-right:1px solid #99824b; background-color:#fff; }
.categories { color:#003676; border-bottom: 1px solid #99824b;}
.categories-xs {background-color:#fff ; color:#003676;}
.categories-title { background-color: #eb1b21; color:#99824b;}
.categories li > a, .categories-xs li > a { color: #003676;}
.categories li > a:hover, .categories-xs li > a:hover,
.categories li > a:focus, .categories-xs li > a:focus {color:#cd0e3f;}
.categories-dropdown-content { border-bottom: 1px solid#99824b;}
.scrollbar::-webkit-scrollbar-track { background-color:#003676;}
.scrollbar::-webkit-scrollbar { background-color:#003676;}
.scrollbar::-webkit-scrollbar-thumb {background-color: #cd0e3f;}
.btn.btn-danger { background-color:#eb1b21; border: 1px solid#99824b;}
.videos-content { background-color:#fff; border: 1px solid #c1bfba;}
.videos-img-holder { border: 1px solid #c1bfba;}
#footer { border-top:1px solid#99824b;}
#footer ul li { color:#9d9d9d;}
#footer a { color:#9d9d9d;}
#footer ul li:before { color: #5b5b5b;}
.video-title, .related-title{ color:#eb1b21;}