.container-fluid
  .row.hidden-xs
    .col-sm-4.categories
      .scrollbar
        h3.categories-title Tournaments & Leugues
        ul.list-unstyled
          li( *ngFor='let tour of tournaments')
            a(href='#')
              span(style="background-position:0 -176px;")
              |  {{tour.whoScoredTourName}}
    .col-sm-4.categories
      .scrollbar
        h3.categories-title Clubs
        ul.list-unstyled
          li( *ngFor='let team of teams')
            a((click)='getPlayers(team.whoScoredTeamId)')
              span(style="background-position:0 -176px;")
              |  {{team.teamName}}
    .col-sm-4.categories
      .scrollbar
        h3.categories-title National Teams
        ul.list-unstyled
          li
            a(href='#')
              span(style="background-position:0 -176px;")
              | UEFA - Champions League
  .row.visible-xs
    .btns-holder.category-btns
      .col-sm-4.categories-xs
        label.btn.btn-danger.text-uppercase((click)='hideTournamentsDropdown=!hideTournamentsDropdown') Tournaments & Leugues
        .categories-dropdown-content([hidden]='hideTournamentsDropdown')
          .scrollbar
            ul.list-unstyled
              li( *ngFor='let tour of tournaments')
                a(href='#')
                  img(src='#')
                  | {{tour.whoScoredTourName}}
        label.btn.btn-danger.text-uppercase((click)='hideClubsDropdown=!hideClubsDropdown') Clubs
        .categories-dropdown-content([hidden]='hideClubsDropdown')
          .scrollbar
            ul.list-unstyled
              li( *ngFor='let team of teams')
                a(href='#')
                  img(src='#')
                  | {{team.teamName}}
        label.btn.btn-danger.text-uppercase((click)='hideTeamsDropdown=!hideTeamsDropdown') National Teams
        .categories-dropdown-content([hidden]='hideTeamsDropdown')
          .scrollbar
            ul.list-unstyled
              li
                a(href='#')
                  img(src='#')
                  | UEFA - Champions League
              li
                a(href='#')
                  img(src='#')
                  | England - Championship
              li
                a(href='#')
                  img(src='#')
                  | England - Championship
              li
                a(href='#')
                  img(src='#')
                  | England - Championship
              li
                a(href='#')
                  img(src='#')
                  | England - Championship
              li
                a(href='#')
                  img(src='#')
                  | England - Championship
              li
                a(href='#')
                  img(src='#')
                  | England - Championship
              li
                a(href='#')
                  img(src='#')
                  | England - Championship
              li
                a(href='#')
                  img(src='#')
                  | England - Championship
.players-content
  h3.team-title Team Name
  .players
    ul
      li( *ngFor='let player of players')
        a(href='#')
          img(src='#')
          | {{player.playerName}}
.videos-content
  .row.row-centered
    .videos.col-lg-4.col-md-4.col-sm-6.col-xs-12.col-centered
      div
        .videos-img-holder
          a(routerLink='/videodetails')
            img(src='#')
    .videos.col-lg-4.col-md-4.col-sm-6.col-xs-12.col-centered
      div
        .videos-img-holder
          a(routerLink='/videodetails')
            img(src='#')
    .videos.col-lg-4.col-md-4.col-sm-6.col-xs-12.col-centered
      div
        .videos-img-holder
          a(routerLink='/videodetails')
            img(src='#')
    .videos.col-lg-4.col-md-4.col-sm-6.col-xs-12.col-centered
      div
        .videos-img-holder
          a(routerLink='/videodetails')
            img(src='#')
    .videos.col-lg-4.col-md-4.col-sm-6.col-xs-12.col-centered
      div
        .videos-img-holder
          a(routerLink='/videodetails')
            img(src='#')
    .videos.col-lg-4.col-md-4.col-sm-6.col-xs-12.col-centered
      div
        .videos-img-holder
          a(routerLink='/videodetails')
            img(src='#')
    .videos.col-lg-4.col-md-4.col-sm-6.col-xs-12.col-centered
      div
        .videos-img-holder
          a(routerLink='/videodetails')
            img(src='#')
    .videos.col-lg-4.col-md-4.col-sm-6.col-xs-12.col-centered
      div
        .videos-img-holder
          a(routerLink='/videodetails')
            img(src='#')
