[hidden] {
    display: none !important;
}
.videos-content {
    margin: 0 auto;
    height: 100%;
    width: inherit;
    padding: 20px 20px;
    min-width: 300px;
    margin-left: 215px;
    top: 0px;
}
.full-sceen-videos {
    margin-left: 5px;
}

@media only screen and (max-width: 767px) {
    .videos-content {
        margin-left: 10px;
    }
}

.row-centered {
    text-align: center;
}

.videos-img-holder {
    height: 200px;
    border: 1px solid #c1bfba;
}

 .videos-img-holder a {
     float: left;
 }

.videos {
    position: center;
    margin-bottom: 20px;
    margin-right: 10px;
    display: inline-block;
    float: none;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    width: 196px;
}

.videos img {
    width: 100%;
}

.col-centered {
    display: inline-block;
    float: none;
    text-align: left;
    margin-right: -4px;
}
