[hidden] {
    display: none !important;
}
.videos-content {
    background: #0f0000;
    background: -moz-linear-gradient(-45deg, #0f0000 17%, #260600 33%, #260600 69%, #0c0000 89%); 
    background: -webkit-linear-gradient(-45deg, #0f0000 17%,#260600 33%,#260600 69%,#0c0000 89%); 
    background: linear-gradient(135deg, #0f0000 17%,#260600 33%,#260600 69%,#0c0000 89%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f0000', endColorstr='#0c0000',GradientType=1 );
    margin: 0 auto;
    height: 100%;
    width: inherit;
    padding: 20px 20px;
    min-width: 300px;
    margin-right: 10px;
    margin-left: 230px;
    margin-top: 10px;
    top: 0px;
    border: 1px solid #1f1515;
}
.full-sceen-videos {
    margin-left: 10px;
}

@media only screen and (max-width: 767px) {
    .videos-content {
        margin-left: 10px;
    }
}

.row-centered {
    text-align: center;
}

.videos-img-holder {
    height: 200px;
    border: 1px solid;
}

    .videos-img-holder a {
        float: left;
    }

.videos {
    position: center;
    margin-bottom: 20px;
    margin-right: 10px;
    display: inline-block;
    float: none;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    width: 196px;
}

    .videos img {
        width: 100%;
    }

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}
