.flipkart-navbar {
    /*background: #0c0000;
    background: -moz-linear-gradient(45deg, #0c0000 11%, #560700 31%, #560700 48%, #560700 70%, #0f0000 100%);
    background: -webkit-linear-gradient(45deg, #0c0000 11%,#560700 31%,#560700 48%,#560700 70%,#0f0000 100%);
    background: linear-gradient(45deg, #0c0000 11%,#560700 31%,#560700 48%,#560700 70%,#0f0000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c0000', endColorstr='#0f0000',GradientType=1 );*/
}

.nav-header {
    padding: 10px;
    height: 75px;
}

.menu-bar {
    display: inline-block;
    margin: 10px;
    width: inherit;
    margin-left: auto;
}

.bars {
    display: block;
    width: 20px;
    height: 3px;
}

.menu-bar, .bars {
    cursor: pointer;
}
/*.hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 96px;
  height: 96px;
  font-size: 0;
  text-indent: -9999px;
  cursor: pointer;
  outline: none;
  background: none;
  border: 0;
}
 
.hamburger span {
  display: block;
  position: absolute;
  top: 44px;
  left: 18px;
  right: 18px;
  height: 8px;
  background: #1a2580;
}
 
.hamburger span::before,
.hamburger span::after {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #1a2580;
  content: "";
}
 
.hamburger span::before {
  top: -20px;
}
 
.hamburger span::after {
  bottom: -20px;
}*/
.flipkart-navbar-menu {
    text-align: center;
    padding: 0px;
    cursor: pointer;
}

.flipkart-navbar-logo {
    display: inline-block;
    font-size: x-large;
    float: left;
}

.flipkart-navbar-logo a {
    font-weight: bold;
    }
.tablet-navbar-search{
    height: 70px;
    text-align: center;
}
.flipkart-navbar-input, .tablet-navbar-input {
    padding: 11px 16px;
    border-radius: 50px 50px 50px 50px;
    outline: 0 none;
    font-size: 15px;
}

.flipkart-navbar-button, .tablet-navbar-button {
    background-color: transparent;
    border: 0;
    font-size: 18px;
    outline: 0;
    padding: 10px 0;
    height: 43px;
    cursor: pointer;
    margin-left: -60px;
}

.flipkart-navbar-icons {
    text-align: center;
    width: auto;
    display: inline-block;
    float: right;
    padding: 0px;
    top: 10px;
}

.nav-icons {
    padding: 0px;
    margin: 0px;
}

.upper-links {
    display: inline-block;
    padding: 0 11px;
    line-height: 23px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0;
    border: none;
    outline: none;
    font-size: 15px;
}

.search-button, .search-icon {
    display: none;
}

.links {
    text-decoration: none;
}

 .links:hover {
    text-decoration: none;
 }
 .block {
    overflow: hidden;
    -webkit-transition: height .2s;
    transition: height .2s;
 }

@media only screen and (max-width: 767px) {
.search-button {
    float: right;
    padding: 0px;
    font-size: x-large;
    display: inline-block;
    margin-right: auto;
    text-align: center;
    }
.flipkart-navbar-search, .home-icon, .phone-icon, .info-icon {
     display: none;
    }

.flipkart-navbar-logo {
     display: inline-block;
     text-align: center;
    }
.tablet-navbar-input{
     width: 280px;
     margin-top: 10px;
     margin-bottom: 10px;
}
.tablet-navbar-button{
     margin-left:-30px;
 }
}

@media only screen and (min-width: 768px) and (max-width:991px) {
    .flipkart-navbar-search {
        display: none;
    }
    .search-icon {
        display: inline-block;
    }
    .flipkart-navbar-logo {
        width:initial;
    }
    .tablet-navbar-input{
        width: 650px;
        margin-top: 10px;
        margin-bottom: 10px;
}
    .tablet-navbar-button{
     margin-left:-30px;
 }
}
