$clubsBackgroundList:
    "Chelsea" #3886de 
    "Liverpool" #e31b23,
    "Manchester-City" #98c5e9,
    "Arsenal" #FC0405,
    "Tottenham" #142a5d;
;
$clubsColorList:
    "Chelsea" #fff 
    "Liverpool" #fff,
    "Manchester-City" #fff,
    "Arsenal" #fff,
    "Tottenham" #fff,
;
@each $club in $clubsBackgroundList {
    .background-color-#{nth($club,1)} {
         background: nth($club,2) !important;
         box-shadow: 0 5px 0 nth($club,2), 0 10px 0 nth($club,2) !important;
    }
    .color-#{nth($club,1)} {
         color: nth($club,2) !important;
    }
}
@each $club in $clubsColorList {
    .background-color-#{nth($club,1)} {
         color: nth($club,2) !important;
    }
    }