#flipkart-navbar {
background: #0c0000;
background: -moz-linear-gradient(45deg, #0c0000 11%, #260600 31%, #560700 48%, #560700 67%, #0f0000 83%);
background: -webkit-linear-gradient(45deg, #0c0000 11%,#260600 31%,#560700 48%,#560700 67%,#0f0000 83%); 
background: linear-gradient(45deg, #0c0000 11%,#260600 31%,#560700 48%,#560700 67%,#0f0000 83%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c0000', endColorstr='#0f0000',GradientType=1 );

}
.header {
    padding: 20px;
       border-bottom: 1px solid #1f1515;
}
.menu-bar {
    display: inline-block;
    margin: 10px;
    width: inherit;
    margin-left: auto;
}
.flipkart-navbar-logo{
    display: inline-block;
    font-size:x-large;
    float: left;
}
.flipkart-navbar-logo a{
    color:#F7F3E3;
    font-weight: bold;
}
.bars {
    display: block;
    width: 20px;
    height: 3px;    
    background-color: #560700;
    box-shadow: 0 5px 0 #560700, 0 10px 0 #560700;
}

.flipkart-navbar-input {
    padding: 11px 16px;
    border-radius: 50px 50px 50px 50px;
    border: 1px solid #0c0000;
    outline: 0 none;
    font-size: 15px;
    color: #807e78;
    background-color:#0f0000
}

.flipkart-navbar-button {
    background-color:transparent;
    border: 0;
    font-size: 18px;
    outline: 0;
    color: #807e78;
    padding: 10px 0;
    height: 43px;
    cursor: pointer;
    margin-left:-60px;
}
.flipkart-navbar-icons{
    text-align: center;
    width: auto;
    display: inline-block;
    float: right;
    padding:0px;
     top:10px;
}
.nav-icons{
     padding:0px;
     margin:0px;
    
}
.upper-links {
    display: inline-block;
    padding: 0 11px;
    line-height: 23px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0;
    border: none;
    outline: none;
    font-size: 15px;
}
.upper-links a {
    color: #F7F3E3;
    }
.search-button, .search-icon {
    display: none;
}
.links {
    color: #fff;
    text-decoration: none;
}

.links:hover {
    color: #fff;
    text-decoration: none;
}
.menu, .bars{
    cursor: pointer;
}
@media only screen and (max-width: 768px) {
.search-button {
    float: right;
    padding:0px;
    width:auto;
    color: #560700;
    font-size:x-large;
    display: inline-block;
    margin-right: auto;
    }
.flipkart-navbar-search, .home-icon, .phone-icon, .info-icon {
        display: none;
    }
    
.flipkart-navbar-logo{
    display: inline-block;
    text-align: center;
    }
}
@media only screen and (min-width: 768px) and (max-width:993px) {
.flipkart-navbar-search {
        display: none;
    }
.search-icon{
    display: inline-block;
}
.flipkart-navbar-logo{
    width:inherit;
}

}


