#flipkart-navbar
  .container-fluid
    .row.header
      .col-sm-3
        .menu-bar
          a(data-toggle='collapse')
            span.bars
        .logo
          a(routerlink='/home') FootBallVideos
      .flipkart-navbar-search.smallsearch.col-sm-6.col-xs-11
        .row
          input.flipkart-navbar-input.col-xs-11(type='', placeholder='Search...', name='')
          button.flipkart-navbar-button.col-xs-1
            i.fa.fa-search
      ul.largenav.pull-right
        li.upper-links
          a.links(routerLink='/home')
            span.menu-icon.fa.fa-home
        li.upper-links
          a.links(routerLink='/contacts')
            span.menu-icon.fa.fa-phone
        li.upper-links
          a.links(routerLink='/about-us')
            span.menu-icon.fa.fa-info