.main-nav
    .navbar.navbar-inverse
        .navbar-header
            button.navbar-toggle(type='button',data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only('Toggle navigation')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(routerLink='/home') FootBallVideos
        .navbar-collapse.collapse
            ul.nav.navbar-nav
                li(routerLinkActive='link-active')
                    a(routerLink='/home')           
                        span.glyphicon.glyphicon-home Home     
                li(routerLinkActive='link-active')
                    a(routerLink='/counter')             
                        span.glyphicon.glyphicon-education Counter 
                li(routerLinkActive='link-active')
                    a(routerLink='/fetch-data')
                        span.glyphicon.glyphicon-th-list Fetch data