$colorList:
    "Chelsea" #fff,
    "Liverpool" #ccc
;

@each $i in $colorList {
    .color-#{nth($i,1)} {
         background-color: nth($i,2);
    }
}
.videos-img-holder {
background-color:aqua;    
}
.flipkart-navbar {
    background: #0c0000;
    background: -moz-linear-gradient(45deg, #0c0000 11%, #260600 31%, #560700 48%, #560700 67%, #0f0000 83%);
    background: -webkit-linear-gradient(45deg, #0c0000 11%,#260600 31%,#560700 48%,#560700 67%,#0f0000 83%);
    background: linear-gradient(45deg, #0c0000 11%,#260600 31%,#560700 48%,#560700 67%,#0f0000 83%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c0000', endColorstr='#0f0000',GradientType=1 );
}