<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FAnalyticsData.Properties.Settings.FootballAnalyticsConnectionString"
            connectionString="Data Source=HOME-PC\MSSQL2014;Initial Catalog=FootballAnalytics;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>