.footer#footer
  .container
    .row
      hr
      .col-sm-6
        span.copyright
          | &#169;2017&nbsp;
          a(href="#") FootBallVideos
          | . All Rights Reserved.
      .col-sm-6
        ul.list-inline.text-capitalize.text-right
          li
            a(routerLink='/about-us') Privacy Policy
          li
            a(routerLink='/about-us') Terms of Use
          li
            a(routerLink='/about-us') About Us
          li
            a(routerLink='/contacts') Contact
