.wrapper
  h1.video-title Team1-Team2
  .container
    .row
      .col-xs-12
        .videoWrapper
          iframe(src='https://www.youtube.com/embed/BkjKWAHo9aM', frameborder='0', allowfullscreen='')
  .container-fluid
    h2.related-title  Related videos 
    .videos-container
      .row.row-centered
        .videos.col-lg-4.col-md-4.col-sm-6.col-xs-12.col-centered
          div
            .videos-img-holder
              a(routerLink='/videodetails')
                img(src='#')
        .videos.col-lg-4.col-md-4.col-sm-6.col-xs-12.col-centered
          div
            .videos-img-holder
              a(routerLink='/videodetails')
                img(src='#')
        .videos.col-lg-4.col-md-4.col-sm-6.col-xs-12.col-centered
          div
            .videos-img-holder
              a(routerLink='/videodetails')
                img(src='#')
        .videos.col-lg-4.col-md-4.col-sm-6.col-xs-12.col-centered
          div
            .videos-img-holder
              a(routerLink='/videodetails')
                img(src='#')
        .videos.col-lg-4.col-md-4.col-sm-6.col-xs-12.col-centered
          div
            .videos-img-holder
              a(routerLink='/videodetails')
                img(src='#')
  .push
